body {
    background-color:black;
    font-family: arial;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    color:green;
    font-family: verdana;
}
.maindiv{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.maindiv input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 90%;
}
footer {
    text-align: center;
    margin-top: auto;
    color:white;
}


