body {
    background-color:black;
    font-family: arial;
    color: white;
}
h1{
    color:green;
    font-family: verdana;
}
#mainbody{
    background-color: rgba(125, 125, 125, 0.5);
}
.maindiv{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin: 50px auto;
}
footer {
    text-align: center;
}


