body {
    background-color:black;
    font-family: arial;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    color:green;
    font-family: verdana;
}
.maindiv{
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin: auto auto;
}
footer {
    text-align: center;
}


